.outer {
  height: 100vh;
}
.team-members-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-members-container h2 {
  margin-top: 0;
}

.member-form {
  display: flex;
  margin-bottom: 10px;
}

.member-form input[type="text"] {
  flex-grow: 1;
  padding: 5px;
}

.member-form button {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.member-list {
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.member-list li {
  color: white;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
